<h1>All Aritcles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <% if article.image.attached? %>
        <%= image_tag(article.image, style: 'height: 30px; float: right;') %>
      <% end %>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: 'new_article' %>
